@using Microsoft.AspNetCore.Identity
@using Venezia
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Venezia

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Venezia</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="~/">Accueil</a>
        <a class="p-2 text-dark" asp-controller="Cars" asp-action="Index">Voitures</a>
        <a class="p-2 text-dark" asp-controller="Cars" asp-action="Create">Ajouter</a>
        <a class="p-2 text-dark" asp-controller="Fuels" asp-action="Create">Fuel</a>
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="p-2 text-dark" asp-route="BasketUrl">Mon panier</a>
        }
        <a class="p-2 text-dark" asp-route="RouteAbout">A propos</a>
    </nav>
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- Custom TagHelper : user (user email) -->
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Utilisateur connecté: <user></user></a>
        
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>

        <p></p>
    }
    else
    {
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Créer un compte</a>
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
    }


</div>